<%- include("./partials/header.ejs") %>
  <main id="main">

     <!-- ======= How it works Section ======= -->
     <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2 style="padding-top: 70px;">How It Works</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              <h4>HOW DO I REGISTER?</h4>
              Click on the "Get started" button and fill the required information to create an account. The "login" is the unique wallet address of the crypto asset you want to invest on the platform.
              Note: Your unique wallet address is the login to your account. This is to prevent individuals from having illegal multiple accounts on the platform.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              <h4>HOW DO I INVEST</h4>
              When you login to your account, there will be a generated wallet address on your dashboard homogeneous to the wallet address of the crypto asset you used as your login. The generated wallet address is where you send the amount of crypto asset you wish to invest.
              <br><p>Immediately you make your  investment deposit to the generated wallet address on your dashboard, a counter begins to count and the transaction details appears on your dashboard.</p>
            </p>
          </div>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              <h4>HOW MUCH WILL I RECEIVE IN RETURN,WHEN WILL I RECEIVE IT?</h4>
              We provide a high ROI( return of investment) of 57% of the initial invested crypto assest. The maturity time frame of investment is five days. You receive your return five days from investment date.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              <h4>WHAT ARE THE MAXIMUM AND MINIMUM INVESTMENT DEPOSIT?</h4>
              The minimum deposit is $10 and the maximum deposit amount is $5000.
            </p>
          </div>
        </div>
        <br>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              <h4>PAYOUT?</h4>
              Payout is processed immediately upon maturity. It may take few hours in some situations
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
          </div>
        </div>

      </div>
    </section><!-- End How it works Section -->  
    

  </main><!-- End #main -->

<%- include("./partials/footer.ejs")%>