<%- include("./partials/header.ejs") %>

        <div class="section-title" data-aos="fade-up">
          <h2 style="padding-top: 70px;">How It Works</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              <h4>HOW DO I REGISTER?</h4>
              Click on the "Get started" button and fill the required information to create an account.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              <h4>HOW DO I INVEST</h4>
              When you login to your account, there will be a generated deposit addresses of the three various crypto asset on your dashboard. The generated deposit address is where you send the amount of crypto asset you wish to invest.
              <br><p>Immediately you make your  investment deposit to the generated deposit address on your dashboard, a counter begins to count and the transaction details appears on your dashboard.</p>
            </p>
          </div>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              <h4>HOW MUCH WILL I RECEIVE IN RETURN,WHEN WILL I RECEIVE IT?</h4>
              We provide a high ROI( return of investment) of 57% of the initial invested crypto assest. The maturity time frame of investment is 15 days. You receive your return in 15 days from investment date.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              <h4>WHAT IS THE MINIMUM INVESTMENT DEPOSIT?</h4>
              The minimum deposit is $200 and the maximum deposit is $10000.
            </p>
          </div>
        </div>
        <br>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              <h4>PAYOUT?</h4>
              The company provides its participants with a unique investment proposal.<br>
              Investment packs:
              <br>
              <br>
              <b>BTC</b>- The deposit amount varies from $100 to $500000.
              <br>
              <br>
              <b>USDT</b>- The deposit amount varies from $100 to $500000.
              <br>
              <br>
              <b>BUSD</b>- The deposit amount varies from $100 to $500000.
              <br>
              <br>
              <b>USDC</b>- The deposit amount varies from $100 to $500000.
              <br>
              <br>
              Payout is processed immediately upon maturity. It may take few hours in some situations .Each investment plan provides full deposit refund upon the specified period refund. Daily accruals are provided as well.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
          </div>
        </div>

      </div>
    </section><!-- End How it works Section -->  
    

  </main><!-- End #main -->

<%- include("./partials/footer.ejs")%>