<%- include("./partials/headerIndex.ejs") %>

      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Invest with confidence on the world's leading social investment platform</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Join thousands who've already discovered smarter investment in multiple types of assets.</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="/register" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">
          <div class="col-lg-2 col-md-4 col-6">
            <img class="reduceImg" src="/img2/busd.png" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img class="reduceImg" src="/img2/usdc.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img class="reduceImg" src="/img2/usdt.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>
          <div class="col-lg-2 col-md-4 col-6">
            <img class="reduceImg" src="/img2/busd.png" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img class="reduceImg" src="/img2/usdc.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img class="reduceImg" src="/img2/usdt.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>
          
          <!-- <div class="col-lg-2 col-md-4 col-6">
            <img src="/img/clients/br4.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/img/clients/br5.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/img/clients/br6.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div> -->

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p style="line-height: 30px;">
              <b>Coinprow</b> is a financial technology company founded for the creation of investment services to individuals in the crypto world. Our main goal is to create high quality and trusted relationship with our investors in an environment where trading process is clear and profitable despite its intricacies, by providing advanced tools and investment methods.</p>
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p  style="line-height: 30px;">
              We engage in professional trading on cryptocurrency exchanges. We increase our investors funds by our tremendous background and highly specialised expertise.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <img src="/img/info-business.svg" alt="" class="img-fluid">
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-4 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-simple-smile"></i>
                    <span data-toggle="counter-up">1125</span>
                    <p><strong>Happy Clients</strong> </p>
                  </div>
                </div>

                <div class="col-md-4 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-document-folder"></i>
                    <span data-toggle="counter-up">7</span>
                    <p><strong>Projects</strong> </p>
                  </div>
                </div>

                <div class="col-md-4 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-award"></i>
                    <span data-toggle="counter-up">2</span>
                    <p><strong>Awards</strong></p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Investment Pack</h2>
          <!-- <p>Sit sint consectetur velit nemo qui impedit suscipit alias ea</p> -->
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>USDT</h3>
              <h4><sup>$</sup>10 - <sup>$</sup>5000</h4>
              <ul>
                <li>For 15 days</li>
                <li>3.8% increase for each day</li>
                <br>
                <br>
                <!-- <li class="na">For 25 days</li>
                <li class="na">Massa ultricies mi</li> -->
              </ul>
              <div class="btn-wrap">
                <a href="../../dashboard/addfunds" class="btn-buy">Invest</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>BUSD</h3>
              <h4><sup>$</sup>10 - <sup>$</sup>5000</h4>
              <ul>
                <li>For 15 days</li>
                <li>3.8% increase for each day</li>
                <br>
                <br>
              </ul>
              <div class="btn-wrap">
                <a href="../../dashboard/addfunds" class="btn-buy">Invest</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
              <h3>USDC</h3>
              <h4><sup>$</sup>10 - <sup>$</sup>5000</h4>
              <ul>
                <li>For 15 days</li>
                <li>3.8% increase for each day</li>
                <br>
                <br>
              </ul>
              <div class="btn-wrap">
                <a href="../../dashboard/addfunds" class="btn-buy">Invest</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
 
    <!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3><img src="/img/logo-blue.png" alt="coinprow" style="width: 150px;"></h3>
              <p>Coinprow is a financial technology company founded for the creation of investment services to individuals in the crypto world.We engage in professional trading on cryptocurrency exchanges. We increase our investors funds by our tremendous background and highly specialised expertise.
              </p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <!-- <a href="#" class="instagram"><i class="icofont-instagram"></i></a> -->
                <!-- <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a> -->
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Kindly contact us through the social media links below:</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>info@coinprow.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+1 747 263 2161</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <%- include("./partials/footer.ejs")%>
