<%- include("./partials/headerDashboard.ejs") %>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"><b>Add Funds</b></h1>
    <div style=" margin-top: 95px;">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">BEP2</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">BEP20</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">TRC20</a>
            </li>
          </ul>
          <br>
          <br>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <p>USDC Deposit Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button style="border-radius: 15px; background-color: #8e8e8d; border-style: none; width: 70px;">Copy</button></p> 
                <p></p>
                <p>Direct Deposit</p>
                <br>
                <p>Send only USDT to this deposit address</p>
                <br>
                <br>
                <p>*Sending coins or tokens other than USDT to this address may result in the loss of your deposit.</p>
                <p>*Coins will be deposited after 15 network confirmations.</p>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <p>USDC Deposit Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button style="border-radius: 15px; background-color: #8e8e8d; border-style: none; width: 70px;">Copy</button></p> 
                <p></p>
                <p>Direct Deposit</p>
                <br>
                <p>Send only USDT to this deposit address</p>
                <br>
                <br>
                <p>*Sending coins or tokens other than USDT to this address may result in the loss of your deposit.</p>
                <p>*Coins will be deposited after 15 network confirmations.</p>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <p>USDC Deposit Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button style="border-radius: 15px; background-color: #8e8e8d; border-style: none; width: 70px;">Copy</button></p> 
                <p></p>
                <p>Direct Deposit</p>
                <br>
                <p>Send only USDT to this deposit address</p>
                <br>
                <br>
                <p>*Sending coins or tokens other than USDT to this address may result in the loss of your deposit.</p>
                <p>*Coins will be deposited after 15 network confirmations.</p>
            </div>
          </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>

<!-- End of Main Content -->
<%- include("./partials/footerDashboard.ejs") %>