@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sect {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

section .container-lg {
  position: relative;
  width: 360px;
  height: 445px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section .container-lg .user-lg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .container-lg .user-lg .imgBx-lg {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

section .container-lg .user-lg .imgBx-lg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container-lg .user-lg .formBx {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

section .container-lg .user-lg .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section .container-lg .user-lg .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .container-lg .user-lg .formBx form input[type='submit'] {
  max-width: 100px;
  background: #3498db;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

section .container-lg .user-lg .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

section .container-lg .user-lg .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

section .container-lg .signupBx {
  pointer-events: none;
}

section .container-lg.active .signupBx {
  pointer-events: initial;
}

section .container-lg .signupBx .formBx {
  left: 100%;
}

section .container-lg.active .signupBx .formBx {
  left: 0;
}

section .container-lg .signupBx .imgBx-lg {
  left: -100%;
}

section .container-lg.active .signupBx .imgBx-lg {
  left: 0%;
}

section .container-lg .signinBx .formBx {
  left: 0%;
}

section .container-lg.active .signinBx .formBx {
  left: 100%;
}

section .container-lg .signinBx .imgBx-lg {
  left: 0%;
}

section .container-lg.active .signinBx .imgBx-lg {
  left: -100%;
}

@media (max-width: 991px) {
  section .container-lg {
    max-width: 400px;
  }

  section .container-lg .imgBx-lg {
    display: none;
  }

  section .container-lg .user-lg .formBx {
    width: 100%;
  }
}

.reduceImg {
  width: 10px;
}

#aboutText {
  
}